<!doctype html>
<html lang="en">
  <head>
    <%- include('./partials/_head_') %>
    <title><%= title %></title>
  </head>
  <body
    class="scroll-smooth bg-slate-100 overflow-x-hidden"
    id="body"
    style="scroll-behavior: smooth"
  >
    <!-- NavBar -->
    <header class="navbar-header"><%- include('./partials/_navSide')%></header>
    <!-- Hero Section -->

    <!-- content -->
    <%- include('./partials/_contentArticle') %>
    <!-- Scripts Import  -->
    <%- include('./partials/_foot_script') %>
  </body>
</html>
