<!doctype html>
<html lang="en">
  <head>
    <%- include('./partials/_head_') %>
    <title><%= title %></title>
  </head>
  <body
    class="scroll-smooth bg-slate-100 overflow-x-hidden"
    id="body"
    style="scroll-behavior: smooth"
  >
    <!-- NavBar -->
    <header class="navbar-header"><%- include('./partials/_navSide') %></header>
    <!-- Hero Section -->
    <%- include('./partials/_hero') %>
    <!-- Brand Slider -->
    <%- include('./partials/_partner_slider')%>
    <!-- tester -->
    <%- include('./partials/_section-2') %>

    
    <!-- Scripts Import  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    <script type="module" src="/js/bundle.js"></script>
  </body>
</html>
